<div class="block-wrap">
    <div class="block-header">
        <span class="block-id">Блок {{ id }}</span>
        <button (click)="addSubheading()">
            <span *ngIf="!isSubHead">Добавить подзаголовок</span>
            <span *ngIf="isSubHead">Убрать подзаголовок</span>
        </button>
    </div>
    
    <input type="text" class="block-heading"  placeholder="Заголовок" [ngModel]="heading" (ngModelChange)="onHeadingChange($event)"/> <!-- заголовок -->
    <input *ngIf="isSubHead" type="text" class="block-subheading" [ngModel]="subHeading"  (ngModelChange)="onSubheadingChange($event)" placeholder="Подзаголовок" /> <!-- подзаголовок -->
    <textarea class="block-text" placeholder="Текст" [ngModel]="text"  (ngModelChange)="onTextChange($event)"></textarea> <!-- текст -->
</div>


