<div class="calories">
    <div class="calories-count-wrap">
        <div class="part-count">
            <span class="count">2000</span>
            <span class="type">съедено</span>
        </div>
        <div class="left-count">
            <div class="part-count">
                <span class="count">1400</span>
                <span class="type">соженно</span>
            </div>
        </div>
        <div class="part-count">
            <span class="count">2000</span>
            <span class="type">соженно</span>
        </div>
    </div>
    <div class="bgu-count"></div>
</div>
