<div class="calories">
    <div class="calories-count-wrap">
        <div class="part-count">
            <span class="count">2000</span>
            <span class="type">съедено</span>
        </div>
        <div class="part-count">
            <span class="count">1400</span>
            <span class="type">осталось</span>
        </div>
        <div class="part-count">
            <span class="count">2000</span>
            <span class="type">соженно</span>
        </div>
    </div>
    <div class="bgu-count-wrap">
        <div class="bgu-part">
            <span class="name">Углеводы</span>
            <span class="chart"></span>
            <span class="count">0 / 150 г</span>
        </div>
        <div class="bgu-part">
            <span class="name">Белки</span>
            <span class="chart"></span>
            <span class="count">0 / 150 г</span>
        </div>
        <div class="bgu-part">
            <span class="name">Жиры</span>
            <span class="chart"></span>
            <span class="count">0 / 150 г</span>
        </div>
    </div>
</div>

<div class="nutrition">
    <div class="nutrition-type">
        <div class="nutrition-part">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 48 48" class="emoji">
                <symbol id="New_Symbol_14" viewBox="-6.5 -6.5 13 13">
                  <path fill="#FFD4C3" stroke="#504B46" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M0-6c2.2 0 4.1 1.5 4.7 3.5C6.3-2.5 6.4 0 5 0v1c0 2.8-2.2 5-5 5s-5-2.2-5-5V0c-1.4 0-1.3-2.5.2-2.5C-4.1-4.5-2.2-6 0-6z" style="fill:#ffd4c3;stroke:#504b46;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"></path>
                  <circle cx="-1.6" cy="-.1" r=".1" style="fill:#ffc258"></circle>
                  <path d="M-1.6.5c-.3 0-.6-.3-.6-.6s.2-.7.6-.7c.3 0 .6.3.6.7s-.3.6-.6.6z" style="fill:#4f4b45"></path>
                  <circle cx="1.6" cy="-.1" r=".1" style="fill:#ffc258"></circle>
                  <path d="M1.6.5C1.3.5 1 .2 1-.1s.3-.6.6-.6.6.3.6.6-.2.6-.6.6z" style="fill:#4f4b45"></path>
                  <circle cx="-3" cy="-1.5" r=".5" style="fill:#fabfa5"></circle>
                  <circle cx="3" cy="-1.5" r=".5" style="fill:#fabfa5"></circle>
                  <path fill="none" stroke="#504B46" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M-1.2-3c.8-.5 1.7-.5 2.5 0" style="fill:none;stroke:#504b46;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"></path>
                </symbol>
                <g id="Icons">
                  <g id="XMLID_1000_">
                    <ellipse id="XMLID_1268_" cx="21.8" cy="45.7" fill="#45413C" opacity=".15" rx="16.8" ry="1.6" style="opacity:.15;fill:#45413c"></ellipse>
                    <g id="XMLID_809_">
                      <g id="XMLID_868_">
                        <path id="XMLID_1233_" fill="#E5F8FF" stroke="#45413C" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M38.6 39.6c0 8.2-33.5 8.2-33.5 0h33.5z" style="fill:#e5f8ff;stroke:#45413c;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"></path>
                        <g id="XMLID_869_">
                          <ellipse id="XMLID_1232_" cx="21.8" cy="39.6" rx="16.7" ry="4.4" style="fill:#e8f4fa"></ellipse>
                          <path id="XMLID_1231_" d="M6.2 41.1c2.4-1.7 8.5-2.9 15.7-2.9s13.3 1.2 15.7 2.9c.7-.5 1.1-1 1.1-1.5 0-2.4-7.5-4.4-16.7-4.4s-16.7 2-16.7 4.4c-.2.5.2 1 .9 1.5z" style="fill:#fff"></path>
                          <ellipse id="XMLID_1230_" cx="21.8" cy="39.6" rx="16.7" ry="4.4" style="fill:none;stroke:#45413c;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"></ellipse>
                          <ellipse id="XMLID_1228_" cx="21.8" cy="40" fill="#E8F4FA" stroke="#45413C" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" rx="9.7" ry="2.2" style="fill:#e8f4fa;stroke:#45413c;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"></ellipse>
                        </g>
                      </g>
                      <g id="XMLID_817_">
                        <g id="XMLID_861_">
                          <path id="XMLID_864_" d="M36.8 33.4c3.4 0 6.2-2.8 6.2-6.2S40.2 21 36.8 21h-2.6v3.5h2.6c1.5 0 2.6 1.2 2.6 2.6 0 1.5-1.2 2.6-2.6 2.6h-4.4v3.5h4.4z" style="fill:#e8f4fa"></path>
                          <path id="XMLID_863_" d="M35.9 22.4c3.4 0 6.2 2.8 6.2 6.2 0 1-.2 1.9-.6 2.7.9-1.1 1.5-2.5 1.5-4.1 0-3.4-2.8-6.2-6.2-6.2h-2.6v1.3h1.7z" style="fill:#fff"></path>
                          <path id="XMLID_862_" d="M36.8 33.4c3.4 0 6.2-2.8 6.2-6.2S40.2 21 36.8 21h-2.6v3.5h2.6c1.5 0 2.6 1.2 2.6 2.6 0 1.5-1.2 2.6-2.6 2.6h-4.4v3.5h4.4z" style="fill:none;stroke:#45413c;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"></path>
                        </g>
                        <g id="XMLID_824_">
                          <path id="XMLID_860_" d="M35.9 17.1c0-1.7-6.5-3.1-14.5-3.1S6.9 15.4 6.9 17.1v8.8c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5v-8.8z" style="fill:#fff"></path>
                          <path id="XMLID_859_" d="M21.4 36.9c-6 0-11.2-3.2-14.2-7.9 1.4 6.5 7.2 11.4 14.2 11.4S34.2 35.6 35.6 29c-3 4.8-8.2 7.9-14.2 7.9z" style="fill:#e8f4fa"></path>
                          <path id="XMLID_839_" d="M35.9 17.1c0-1.7-6.5-3.1-14.5-3.1S6.9 15.4 6.9 17.1v8.8c0 8 6.5 14.5 14.5 14.5s14.5-6.5 14.5-14.5v-8.8z" style="fill:none;stroke:#45413c;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"></path>
                        </g>
                        <g id="XMLID_818_">
                          <path id="XMLID_823_" fill="#BF8256" stroke="#45413C" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M32.2 19.3c-2.7-1.1-6.5-1.8-10.8-1.8s-8.1.7-10.8 1.8c2.7 1.1 6.6 1.8 10.8 1.8s8.1-.7 10.8-1.8z" style="fill:#bf8256;stroke:#45413c;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"></path>
                          <path id="XMLID_819_" d="M8.6 18.3C11.2 19.9 16 21 21.4 21s10.1-1.1 12.8-2.7" style="fill:none;stroke:#45413c;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"></path>
                        </g>
                      </g>
                      <circle id="XMLID_816_" cx="17.4" cy="4.3" r="1.8" style="stroke:#45413c;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;fill:#fff"></circle>
                      <path id="XMLID_810_" d="M12.3 7c.5-.6.7-1.4.7-2.3 0-2.2-1.8-4-4-4s-4 1.8-4 4 1.8 4 4 4c.2 0 .3 0 .5-.1 0 .2-.1.3-.1.5 0 1.2 1 2.2 2.2 2.2s2.2-1 2.2-2.2c.1-1-.6-1.8-1.5-2.1z" style="stroke:#45413c;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;fill:#fff"></path>
                    </g>
                  </g>
                </g>
            </svg>
            <div class="nutrition-info">
                <h3>Завтрак</h3>
                <span>0 / 150 ккал</span>
            </div>
        </div>
        <button>
            <svg fill="#028000" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512" stroke="#028000">

            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            
            <g id="SVGRepo_iconCarrier"> <g> <g> <path d="M256,11C120.9,11,11,120.9,11,256s109.9,245,245,245s245-109.9,245-245S391.1,11,256,11z M256,460.2 c-112.6,0-204.2-91.6-204.2-204.2S143.4,51.8,256,51.8S460.2,143.4,460.2,256S368.6,460.2,256,460.2z"/> <path d="m357.6,235.6h-81.2v-81.2c0-11.3-9.1-20.4-20.4-20.4-11.3,0-20.4,9.1-20.4,20.4v81.2h-81.2c-11.3,0-20.4,9.1-20.4,20.4s9.1,20.4 20.4,20.4h81.2v81.2c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-81.2h81.2c11.3,0 20.4-9.1 20.4-20.4s-9.1-20.4-20.4-20.4z"/> </g> </g> </g>
            
            </svg>
        </button>
    </div>
    <div class="nutrition-type">
        <div class="nutrition-part">
            <img src="../../../assets/hot-soup.png" alt="" class="emoji">
            <div class="nutrition-info">
                <h3>Обед</h3>
                <span>0 / 150 ккал</span>
            </div>
        </div>
        <button>
            <svg fill="#028000" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512" stroke="#028000">

            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            
            <g id="SVGRepo_iconCarrier"> <g> <g> <path d="M256,11C120.9,11,11,120.9,11,256s109.9,245,245,245s245-109.9,245-245S391.1,11,256,11z M256,460.2 c-112.6,0-204.2-91.6-204.2-204.2S143.4,51.8,256,51.8S460.2,143.4,460.2,256S368.6,460.2,256,460.2z"/> <path d="m357.6,235.6h-81.2v-81.2c0-11.3-9.1-20.4-20.4-20.4-11.3,0-20.4,9.1-20.4,20.4v81.2h-81.2c-11.3,0-20.4,9.1-20.4,20.4s9.1,20.4 20.4,20.4h81.2v81.2c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-81.2h81.2c11.3,0 20.4-9.1 20.4-20.4s-9.1-20.4-20.4-20.4z"/> </g> </g> </g>
            
            </svg>
        </button>
    </div>
    <div class="nutrition-type">
        <div class="nutrition-part">
            <img src="../../../assets/salad.png" alt="" class="emoji">
            <div class="nutrition-info">
                <h3>Ужин</h3>
                <span>0 / 150 ккал</span>
            </div>
        </div>
        <button>
            <svg fill="#028000" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512" stroke="#028000">

            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            
            <g id="SVGRepo_iconCarrier"> <g> <g> <path d="M256,11C120.9,11,11,120.9,11,256s109.9,245,245,245s245-109.9,245-245S391.1,11,256,11z M256,460.2 c-112.6,0-204.2-91.6-204.2-204.2S143.4,51.8,256,51.8S460.2,143.4,460.2,256S368.6,460.2,256,460.2z"/> <path d="m357.6,235.6h-81.2v-81.2c0-11.3-9.1-20.4-20.4-20.4-11.3,0-20.4,9.1-20.4,20.4v81.2h-81.2c-11.3,0-20.4,9.1-20.4,20.4s9.1,20.4 20.4,20.4h81.2v81.2c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-81.2h81.2c11.3,0 20.4-9.1 20.4-20.4s-9.1-20.4-20.4-20.4z"/> </g> </g> </g>
            
            </svg>
        </button>
    </div>
    <div class="nutrition-type">
        <div class="nutrition-part">
            <img src="../../../assets/mandarin.png" alt="" class="emoji">
            <div class="nutrition-info">
                <h3>Перекус</h3>
                <span>0 / 150 ккал</span>
            </div>
        </div>
        <button>
            <svg fill="#028000" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 512 512" stroke="#028000">

            <g id="SVGRepo_bgCarrier" stroke-width="0"/>
            
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
            
            <g id="SVGRepo_iconCarrier"> <g> <g> <path d="M256,11C120.9,11,11,120.9,11,256s109.9,245,245,245s245-109.9,245-245S391.1,11,256,11z M256,460.2 c-112.6,0-204.2-91.6-204.2-204.2S143.4,51.8,256,51.8S460.2,143.4,460.2,256S368.6,460.2,256,460.2z"/> <path d="m357.6,235.6h-81.2v-81.2c0-11.3-9.1-20.4-20.4-20.4-11.3,0-20.4,9.1-20.4,20.4v81.2h-81.2c-11.3,0-20.4,9.1-20.4,20.4s9.1,20.4 20.4,20.4h81.2v81.2c0,11.3 9.1,20.4 20.4,20.4 11.3,0 20.4-9.1 20.4-20.4v-81.2h81.2c11.3,0 20.4-9.1 20.4-20.4s-9.1-20.4-20.4-20.4z"/> </g> </g> </g>
            
            </svg>
        </button>
    </div>
</div>