<div class="type-wrap">
    <h2>
        Страница заявки
    </h2>
    <select name="type-entity" id="type-entity" (change)="onChange($event)" >
        <option disabled selected value> -- Выберите тип заявки -- </option>
        <option value="1">Статья</option>
        <option value="2">Рецепт</option>
        <option value="3">Тренировка</option>
    </select>
</div>


<div class="request-wrap" *ngIf="isTraining || isArticle || isRecipe">
    <div class="entity-header-wrap">
        <div class="entity-header">
            <label for="entity-heading"> Название </label>
            <input *ngIf="isArticle" name="entity-heading" id="entity-heading" type="text" placeholder="Укажите название" [(ngModel)]="articleDto.name"/>
            <input *ngIf="isRecipe" name="entity-heading" id="entity-heading" type="text" placeholder="Укажите название" [(ngModel)]="recipeDto.name"/>
            <input *ngIf="isTraining" name="entity-heading" id="entity-heading" type="text" placeholder="Укажите название" [(ngModel)]="trainingDto.name"/>
        </div>
        <button (click)="addNewBlock()" *ngIf="!isTraining">Добавить новый блок</button>
    </div>

    <div class="additional-inputs" *ngIf="isRecipe">
        <span>КБЖУ (на 100 грамм)</span>
        <div class="additional-item">
            <label> Калорийность </label>
            <input type="text" name="parameter-one" placeholder="Калорийность" [(ngModel)]="recipeDto.caloriesCount" />
        </div>
       
        <div class="additional-item">
            <label> Белки </label>
            <input type="text" name="parameter-one" placeholder="Количество белков" [(ngModel)]="recipeDto.proteinsCount" />
        </div>
        <div class="additional-item">
            <label > Углеводы </label>
            <input type="text" name="parameter-one" placeholder="Количество углеводов" [(ngModel)]="recipeDto.carbsCount" />
        </div>
        <div class="additional-item">
            <label> Жиры </label>
            <input type="text" name="parameter-one" placeholder="Количество жиров" [(ngModel)]="recipeDto.fatsCount" />
        </div>
    </div>
    
    <div class="request-block-wrap" *ngIf="!isTraining">
        <app-request-block *ngFor="let rb of requestBlocks" 
        [id]="requestBlocks.indexOf(rb) + 1"
        [(heading)]="rb.heading" 
        [(subHeading)]="rb.subheading" 
        [(text)]="rb.text" 
        ></app-request-block>
    </div>

    <div class="additional-item" *ngIf="isTraining" >
        <label> Ссылка на видео </label>
        <input type="text" placeholder="Ссылка на видео" [(ngModel)]="trainingDto.videoRef"/>
    </div>
    
    <button (click)="createRequest()">Отправить на модерацию</button>
</div>
